<footer id="footer-sec">
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="col-md-3 col-xs-6 col-sm-3">
					<div class="footer-text">
						<h5>About</h5>
						<p>Company</p>
						<p>Jobs</p>
						<p>Press</p>
						<p>Engineering</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 col-sm-3">
					<div class="footer-text">
						<h5>Team Solutions</h5>
						<p>Marketing</p>
						<p>Project Management</p>
						<p>Managers</p>
					</div>
				</div>
				<div class="clearfix visible-xs-block"></div>
				<div class="col-md-3 col-xs-6 col-sm-3">
					<div class="footer-text">
						<h5>Apps</h5>
						<p>Integrations</p>
						<p>iOS</p>
						<p>Android</p>
					</div>
				</div>
				<div class="col-md-3 col-xs-6 col-sm-3">
					<div class="footer-text">
						<h5>Support</h5>
						<p>Customer Success</p>
						<p>Terms & Privacy</p>
						<p>Conatct Us</p>
						<p>Developers</p>
					</div>
				</div>
			</div>
		</div>
		<hr>
		<div class="row">
			<div class="col-md-12 col-xs-12 col-sm-12">
				<div class="copyright">
					&copy; 2016 SomeCompany.com
				</div>
			</div>
		</div>
	</div>
</footer>

