<header id="header-navigation">
	<nav class = "navbar navbar-default" role = "navigation">
		<div class = "navbar-header">
			<button type = "button" class = "navbar-toggle" 
				data-toggle = "collapse" data-target = "#navbar-collapse">
				<span class = "sr-only">Toggle navigation</span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
				<span class = "icon-bar"></span>
			</button>
			<a class = "navbar-brand" href = "#">SomeCompany</a>
		</div>
		<div class = "collapse navbar-collapse" id = "navbar-collapse">
			<ul class = "nav navbar-nav">
				<li><a href = "#" {{action "toggleModal"}} data-toggle="collapse" data-target=".navbar-collapse.in">Pricing</a></li>
				<li><a href = "#our-team" data-toggle="collapse" data-target=".navbar-collapse.in">About</a></li>
				<li><a href = "#contact-us" data-toggle="collapse" data-target=".navbar-collapse.in">Contact</a></li>
			</ul>
		</div>
	</nav>
</header>

{{#if isShowingPriceModal}}
	{{#modal-dialog onClose="toggleModal" targetAttachment="center" translucentOverlay=true onClickOverlay='clickedTranslucentOverlay'}}
		{{price-modal toggleModal=(action 'toggleModal')}}
	{{/modal-dialog}}
{{/if}}