<div id="hero-header">
	<div class="header-inner">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 col-xs-12 col-sm-12">
					<h1>Hello, world!</h1>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam feugiat nisi ut est blandit, sed fermentum est maximus. Etiam volutpat sit amet sem vitae finibus. Aenean fermentum mattis velit tempor rutrum. Nulla vitae massa suscipit, hendrerit lacus a, placerat nisi.
					</p>
					<div class="text-center">
						<button class="btn btn-primary" {{action "toggleModal"}}>Learn more &raquo;</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{{#if isShowingLearnMoreModal}}
	{{#modal-dialog onClose="toggleModal" targetAttachment="center" translucentOverlay=true onClickOverlay='clickedTranslucentOverlay'}}
		{{learn-more-modal toggleModal=(action 'toggleModal')}}
	{{/modal-dialog}}
{{/if}}
