<div id="learn-more-modal">
	<div class="modal-dialog-panel">
		<div class="row">
			<div class="modal-dialog-close">
				<button class="close" {{action 'toggleModal'}}>&times;</button>
			</div>
		</div>
		<div class="row">
			<div class="modal-dialog-body">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="modal-dialog-header text-center">
						<h2 class="modal-dialog-title">Redefining the Web</h2>
					</div>
					<div class="modal-dialog-description text-center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
