<div id="pricing-modal">
    <div class="modal-dialog-panel">
        <div class="row">
            <div class="modal-dialog-close">
                <button class="close" {{action 'toggleModal'}}>&times;</button>
            </div>
        </div>
        <div class="row">
            <div class="modal-dialog-body">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="modal-dialog-header text-center">
                        <h2 class="modal-dialog-title">Pricing</h2>
                    </div>
                    <div class="modal-dialog-description text-center">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima maxime quam
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="panel-title">Bronze</h3>
                            </div>
                            <div class="panel-body">
                                <div class="price">
                                    <h1>$10<span class="subscript">/mo</span></h1>
                                    <small>1 month FREE trial</small>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>1 Account</td>
                                    </tr>
                                    <tr class="active">
                                        <td>1 Project</td>
                                    </tr>
                                    <tr>
                                        <td>100K API Access</td>
                                    </tr>
                                    <tr class="active">
                                        <td>100MB Storage</td>
                                    </tr>
                                    <tr class="active">
                                        <td>Weekly Reports</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="#" class="btn btn-success" role="button">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Silver</h3>
                            </div>
                            <div class="panel-body">
                                <div class="price">
                                    <h1>$20<span class="subscript">/mo</span></h1>
                                    <small>1 month FREE trial</small>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>2 Account</td>
                                    </tr>
                                    <tr class="active">
                                        <td>5 Project</td>
                                    </tr>
                                    <tr>
                                        <td>100K API Access</td>
                                    </tr>
                                    <tr class="active">
                                        <td>200MB Storage</td>
                                    </tr>
                                    <tr class="active">
                                        <td>Weekly Reports</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="#" class="btn btn-success" role="button">Sign Up</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <h3 class="panel-title">Gold</h3>
                            </div>
                            <div class="panel-body">
                                <div class="price">
                                    <h1>$35<span class="subscript">/mo</span></h1>
                                    <small>1 month FREE trial</small>
                                </div>
                                <table class="table">
                                    <tr>
                                        <td>5 Account</td>
                                    </tr>
                                    <tr class="active">
                                        <td>20 Project</td>
                                    </tr>
                                    <tr>
                                        <td>300K API Access</td>
                                    </tr>
                                    <tr class="active">
                                        <td>500MB Storage</td>
                                    </tr>
                                    <tr class="active">
                                        <td>Weekly Reports</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="panel-footer">
                                <a href="#" class="btn btn-success" role="button">Sign Up</a> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
