.our-team-container {
	#our-team {
		padding: 50px 0 0;
		background: #fff;

		h2 {
			margin: 70px 0 45px;
			color: #333;
			font-family: "Arial";
			font-size: 40px;
			text-align: center;
		}

		p {
			padding-left: 20%;
			padding-right: 20%;
			color: #333;
			font-family: "Arial";
			font-size: 18px;
			margin-bottom: 150px;
			text-align: center;
		}

		.team-box {
			margin-bottom: 150px;
			text-align: center;

			h3 {
				color: #5c1bb7;
				font-family: "Arial";
				font-size: 25px;
			}

			h4 {
				color: #800080;
				font-family: "Arial";
				font-size: 18px;
				text-transform: uppercase;
			}

			p {
				color: #333;
				font-family: "Arial";
				font-size: 18px;
				margin-bottom: 20px;
				padding-left: 0;
				padding-right: 0;
			}

			ul {
				list-style: none;
				padding: 0;
				margin: 0;

				li {
					display: inline-block;
					text-align: center;
					margin: 0 10px;

					a {
						img {
							height: 25px;
						}
					}
				}
			}

			.imgbox {
				height: 150px;
				width: 150px;
				margin: 0 auto;
				overflow: hidden;
				background-size: cover;

				img {
					display: inline-block;
					height: 100%;
				}
			}
		}
	}
}

#brand-sec {
	background: #581bb7;
	padding: 0 0;

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		text-align: center;

		li {
			display: inline-block;
			margin: 0 60px;

			img {
				display: inline-block;
				padding-top: 15px;
				padding-bottom: 15px;
				height: 60px;
			}
		}
	}
}
