#redefine-web {
	background: #5c1bb7;
	padding: 0 0 80px;

	.left-panel {
		margin-top: 100px;
	}
	
	.right-panel {
		margin-top: 100px;

		.btn-learn {
			background: transparent;
			border: 2px solid #fff;
			color: #fff;
			text-align: center;
			font-family: "Arial";
			font-size: 18px;
			padding: 12px 30px;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			-ms-border-radius: 10px;

			&:focus {
				outline: 0 !important;
			}
		}

		h2 {
			margin: 0 0 45px;
			color: #fff;
			font-family: "Arial";
			font-size: 40px;
		}

		p {
			margin: 0 0 15px;
			color: #fff;
			font-family: "Arial";
			font-size: 18px;
		}
	}

	.center-panel {
		text-align: center;

		h2 {
			color: #fff;
			padding: 20px;
			font-family: "Roboto-Regular";
		}

		p {
			color: #fff;
			font-family: "Roboto-Regular";
			font-size: 18px;
			margin: 0 0 20px;
		}

		.btn-learn {
			background: transparent;
			border: 2px solid #fff;
			color: #fff;
			text-align: center;
			font-family: "Roboto-Bold";
			font-size: 25px;
			padding: 15px 30px;
			border-radius: 10px;
			-webkit-border-radius: 10px;
			-moz-border-radius: 10px;
			-o-border-radius: 10px;
			-ms-border-radius: 10px;
		}
	}
}